.coin-container {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center coins vertically */
    width: 100%; /* Occupy full width */
    padding: 10px; /* Add padding for spacing */
    /* border: 2px solid black; */
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%; /* Occupy full width */
    max-width: 900px; /* Limit maximum width */
    margin: 5px auto; /* Center horizontally */
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.coin-row:hover{
    opacity: 0.8;
}
.coin {
    display: flex;
    align-items: center;
    padding: 24px;
    min-width: 300px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-label {
    font-weight: bold;
    color: #333; /* Change label color */
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 230px;
    margin-left: 20px; /* Add space between price and volume */
}

.coin-marketcap {
    width: 155px;
}

.coin-percent {
    width: 100%;
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}
