

.con-m{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(192, 255, 255);
    height: 82%;
}

.con{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}
.con input{
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.con label{
    margin-right: 80px;
}

form{
    height: fit-content;
    background-color: aqua;
    padding: 40px;
    border-radius: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn>button{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    opacity: 0.8;
}
.btn>button:hover{
    cursor: pointer;
    opacity: 1;
}
