.active{
    background-color: blue;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 131, 222);
    position: sticky ;
    top: 0;
    z-index: 1;
}

.logo{
    display: flex;
    margin-left: 20px;
}
nav .logo{
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    /* text-decoration: none; */
    color: rgb(162, 33, 248);
}
.logo-img{
    height: 100px;
    width: 100px;
}
.title{
    height: 50px;
    color: blue;
    font-family: 'Corben'; 
    font-size: 3.5rem;
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    text-shadow: 2px 2px gray;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 1.25rem;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active,.login):hover{
    background-color: blue;
}
nav ul li a:not(.active):hover{
    opacity: 1;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.5rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}


@media (max-width : 630px){
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}

.login{
    background-color: blue;
    opacity:  0.8;
}
.login:hover{
    opacity: 1;
}


.c-main{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-size: 1.25rem ;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.c{
    width: 80%;
}
.one{
    
    background-image: url('https://akm-img-a-in.tosshub.com/businesstoday/images/story/202303/1661-scaled-e1649434277532_1-sixteen_nine.jpg?size=948:533');
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.one h2{
    font-size: 2.3rem;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 5px;

}
.one p{
    max-width: 500px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-weight: 300;
    text-emphasis: strong;
    /* margin-top: 5px; */
}
.one .register{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 0.5rem;
}
.sub-heading{
    margin-top: 3rem;
    text-shadow: 2px 2px 8px blue;
}

.container{
    display: flex;
    margin-top: 40px;

}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px  rgba(153, 153, 153, 0.8);
    width: 340px; 
    padding: 20px;
    margin-right: 50px;
    border-radius: 8px;
}

.card img{
    width: 300px;
    height: 300px;
}
.card-title{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.8rem;
    text-shadow: 2px 2px 5px gray ;
}
.card-text{
    margin-top: 10px;
    font-size: 1rem;
}



.three{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three p{
    max-width: 500px;
}
.three .register{
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 0.5rem;
}
.body2{
    display: flex;
}
.body-image2{
    width: 523px;
    height: 392px;
    background-image: url("./src/assets/news.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:30px ;
    margin-left: 30px;
}
.body2-text {
    height: 280px;
    width : 800px ; 
    /* border: 2px sloid black; */
    color: black;
    background-image: linear-gradient(to right , white , rgb(35, 73, 213));
    font-size: 1.4rem;
    margin-top: 80px;
    margin-left: 30px;
    text-align: left;
    border-radius: 20px ;
}
.body2-text h1{
    font-size: 1.7rem;
    font-weight: bolder;
    margin-top: 20px;
}

.body2-text p{
    margin-top: 20px;
}
.body3{
    display: flex;
}
.body-image3{
    width: 523px;
    height: 392px;
    background-image: url("./src/assets/Tracker.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:10px ;
    margin-left: 50px;
    /* margin-top:80px ; */
}
.body3-text{
    height: 280px;
    width : 800px ; 
    /* border: 2px sloid black; */
    color: black;
    background-image: linear-gradient(to right , rgb(35, 73, 213) , white);
    font-size: 1.4rem;
    margin-top: 80px;
    margin-left: 100px;
    text-align: left;
    border-radius: 20px ;
}
.body3-text h1{
    font-size: 1.7rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 10px;
}

.body3-text p{
    margin-top: 20px;
    margin-left: 10px;
}
.body4{
    display: flex;
}
.body-image4{
    width: 600px;
    height: 392px;
    background-image: url("./src/assets/Predictor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:30px ;
    margin-left: 80px;
}
.body-text4{
    height: 280px;
    width : 1000px ; 
    color: black;
    background-image: linear-gradient(to right ,white, rgb(35, 73, 213));
    font-size: 1.4rem;
    margin-top: 80px;
    border-radius: 20px ;
    margin-right: 70px;
    
}
.body-text4 h1{
    font-size: 1.7rem;
    font-weight: bolder;
    margin-top: 20px;
}

.body-text4 p{
    margin-top: 20px;
}
.footer{
    
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* background-image: linear-gradient(to right , rgb(137, 190, 231),rgb(74, 117, 210)); */
    background-color: blue;
    height: 90px;
    
}

.My-Foot{
    width: 80%;
}
.footer-in{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bolder;
    font-size: larger;
}
.foot {
    background-color: blue;
    /* display: flex; */
    color: black;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright{
    background-color: blue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 3px;
}

.foot .hui{
    text-decoration: none;
    color: black;
}
